.button {

  &.primary {
    background: #2ac1bc;
    color: white;
  }

  &.full {
    width: 100%;
    font-size: 24px;
    padding: 20px;
  }

  &.small {
    font-size: 20px;
    padding: 14px 28px;
  }

  &.mini {
    font-size: 16px;
    padding: 10px 20px;
  }

  &.normal {
    border: 1px solid #bbbbbb;
  }
}
