.button {
  cursor: pointer;
  transition: 0.3s;

  &.primary {
    background: #2ac1bc;
    color: white;
  }

  &.full {
    width: 100%;
    font-size: 24px;
    padding: 20px;
  }

  &.small {
    font-size: 20px;
    padding: 14px 28px;
  }

  &.mini {
    font-size: 16px;
    padding: 10px 20px;
  }

  &.normal {
    background: #fff;
    box-shadow: inset 0 0 0 1px #bbbbbb;
  }

  &:disabled {
    opacity: 0.5;
  }
}

.iconButton {
  border: none;
  background: none;
  cursor: pointer;
  vertical-align: middle;
}
