@import "./common/index.css";
@import "./page/index.css";

body, html {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: #f3f3f7;
}

a {
  cursor: pointer;
}

.divide-line {
  width: 100%;
  border: 2px solid black;
}

.divide-line-gray {
  width: 100%;
  border: 2px solid #aaaaaa;
}

.divide-line-thin {
  width: 100%;
  border: 1px solid #aaaaaa;
}
