@import '../../styles/mixins';

.product {

  &Container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;

    @include only-mobile {
      padding: 20px;
    }
  }

  &Item {
    width: calc(25% - (60px / 4));
    box-sizing: border-box;

    @include only-mobile {
      width: calc(50% - (60px / 4));
    }
  }

  &Skeleton {
    $color: #EEE;

    &Thumbnail {
      padding-top: 100%;
      background-color: $color;
    }

    &Info {
      background-color: rgba($color, 0.5);
      margin-top: 5px;
      height: 39px;
    }
  }

  &Info {
    display: flex;
    flex-direction: column;

    &Name {
      font-size: 12px;
    }

    &Price {
    }
  }

  &Detail {
    &Container {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 50px;
    }

    &Info {
      width: 100%;
    }

    &InfoName {
      font-size: 24px;
    }

    &InfoPrice {
      font-size: 24px;
    }

    &Button {
      width: 100%;
      padding: 24px;
      background: #73675c;
      font-size: 24px;
      color: white;
    }
  }
}
